.contact-me-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;

    gap: 0.5em;
}

.contact-me-form{
    width: 100%;
    height: 100%;
    padding: 1em; /* Agrega espacio interno para evitar colapso */
    box-sizing: border-box; /* Asegura que padding no afecte el tamaño total */


    position: relative;

    border: 2px solid orange;
}
    .contact-me-form div {
        margin-bottom: 0.5em; /* Espaciado entre cada bloque */
    }
    .from-info {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        gap: 1em; /* Espaciado horizontal entre los inputs */
    }
        .from-info input {
            flex: 1; /* Cada input tomará el mismo espacio dentro del contenedor */
            background-color: #F7F7F7;

            border: none;
            border-radius: 0.5em;
        }
        #name, #value {
            height: 3em;
        }
    textarea {
        width: 100%;
        resize: none;
        box-sizing: border-box; /* Evita que el padding afecte el tamaño total */
        background-color: #F7F7F7;

        border: none;
        border-radius: 0.5em;

    }
    button {
        width: 100%;
    }

.notification {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50; /* Verde para éxito */
    color: white;
    border-radius: 1em;
    text-align: center;
    font-size: 16px;
    transition: opacity 0.5s ease-out;
}

    /* Estilo para mensajes de error */
.notification.error {
    background-color: #f44336; /* Rojo para error */
}

    /* Agregar una animación para que se desvanezca */
.notification.fade-out {
    opacity: 0;
}
