.footer {
  position: relative;
  bottom: 0;
  /*padding: 2rem 0rem;*/
  /*margin: 2rem 0rem;*/

  width: 100%;
  height: 22%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 0.5rem;

  text-align: center;
  justify-items: center;

  border: 2px dashed fuchsia;
  border-radius: 1rem;
}

.media {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 2px solid gray;
  border-radius: 1rem;
}

.mediaIcons {
  margin: 1.25rem;
  display: flex;
}

.network {
    max-height: 2.5em;
    max-width: 3em;

    position: relative;
    left: -35%;
    bottom: 40%;
}

.circle {
    width: 3.2em;
    height: 3.2em;

    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;

    border-radius:50%;
    border: 2px solid green;
}

.copyright {
    width: 100%;
    padding: 2em 0em 2em 0em;

    display: flex;
    /*position: relative;*/
    /*bottom: -1.75rem;*/
    /*top: 2rem;*/

    /*padding: 2rem 2rem 2rem 0rem;*/

    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;

    border: 1px solid brown;
    border-radius: 1rem;
}