.header {
  position: fixed;
  top: 0.5em;
  left: 30.1em;
  width: 35%;
  height: 8%;

  z-index: 10;
  opacity: 1;
  background-color: white;

  display: flex;
  justify-content: space-between;

  border: 1px dotted red;
  border-radius: 1rem;
}

.about {
    transform: translateX(-1.5rem);
}

.projects {
    transform: translateX(-3rem);
}

.sections {
    /*width: 100%;*/
    margin: 0 0.5rem 0 0.5rem;


    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: flex-start;
}

.hiring {
    display: flex;
    justify-items: center;
    justify-content: center;
        /*justify-content: flex-end;*/
    align-items: center;
}

.logo {
    max-height: 2.5em;
    max-width: 3em;
    /*max-height: 30px;
    max-width: 35px;*/

    position: relative;
    left: -10%;
}

.theme {
    position: relative;
    transform: scale(-1, 1) translateX(-2rem);  /*Refleja el ícono, y lo mantiene en el sitio que deseo, respectivamente*/

   /* border: 1px solid red*/
}

p {
    position: relative;
    left: -10%;
}

