section {
  position: fixed;
  top: 0;
  width: 35%;
  height: 8%;

  display: flex;
  justify-content: space-between;

  border: 1px dotted red;
}

/*div {
  border: 1px dotted green;
}*/

/*img {
  border: 1px dashed blue;
}*/

.about {
    transform: translateX(-1.5rem);
}

.projects {
    transform: translateX(-3rem);
}

.sections {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: flex-start;
}

.hiring {
    display: flex;
    justify-items: center;
    justify-content: center;
        /*justify-content: flex-end;*/
    align-items: center;
}

.logo {
    max-height: 2.5em;
    max-width: 3em;
    /*max-height: 30px;
    max-width: 35px;*/

    position: relative;
    left: -10%;
}

.hire-me-btn {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0;
  padding: 0;

  max-width: 175px;
  max-height: 40px;
}

.theme {
    position: relative;
    transform: translateX(2.3rem);
}

p {
    position: relative;
    left: -10%;
}

