.mainBody {
        height: 100%;

        padding: 0 1rem 1rem 1rem;

        display: flex;
        flex-direction: column;
        justify-content:space-evenly;

        gap: 1rem;
        background-color: white;
        border: 2px solid blue;
        border-radius: 1rem;
    }