.notice {
    height: 3vw;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
}

.metier {
    text-align: left;
    border: 2px dashed orange
}
.availability {
    width: 37%;
    list-style-position: inside;    /* Mueve la viñeta dentro del bloque de contenido del <li> */
    justify-content:center;
    text-align: left;
    border: 2px dashed orange;
    border-radius: 0.5rem;
}
    .metier ul {
      text-align: left; /* Alinea el texto a la izquierda en el subcontenedor metier */
      margin: 0; /* Opcional: Ajusta los márgenes si es necesario */
      padding: 0 1em; /* Opcional: Ajusta el espacio interno */
    }

    .availability ul {
      text-align: right; /* Alinea el texto a la derecha en el subcontenedor availability */
      margin: 0; /* Opcional: Ajusta los márgenes si es necesario */
      padding: 0; /* Opcional: Ajusta el espacio interno */
    }