.notice {
    height: 3vw;
    width: 35vw;

    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    border: 2px solid blue;
}

.metier {
    text-align: left;
    /*border: 2px dashed orange*/
}
.availability {
    text-align: left;
    /*border: 2px dashed orange*/
}
    .metier ul {
      text-align: left; /* Alinea el texto a la izquierda en el subcontenedor metier */
      margin: 0; /* Opcional: Ajusta los márgenes si es necesario */
      padding: 0 1em; /* Opcional: Ajusta el espacio interno */
    }

    .availability ul {
      text-align: right; /* Alinea el texto a la derecha en el subcontenedor availability */
      margin: 0; /* Opcional: Ajusta los márgenes si es necesario */
      padding: 0; /* Opcional: Ajusta el espacio interno */
    }