.project-detail-logo {
    position: relative;
    top: 1rem;
}

.project-info {
    display: flex;
    flex-direction: column;

    margin: 1rem 0 0 0;

    justify-content: flex-start;
    text-align: left;

    border-radius: 1em;
    border: 2px dotted red;
}
    .project-summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        margin-bottom: 1em;

        border: 2px dashed blue;
    }
        .view-project-repo-btn {
            padding: 1em;

            position: relative;
            left: 0;
        }
        .project-img{
            width: 100%;

            justify-content: center;
            text-align: center;

            border: 2px dashed cyan;
        }