#root {
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;*/
    /*Es mejor usar vh o vw que %*/
  position: relative;
  height: 100vh;
  width: 35vw;
  padding-top: 4rem;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between
  align-items: center;

  gap: 4vh;

  border: 2px solid
}

.notice {
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    border: 2px solid blue;
}
.metier {
    text-align: left;
    border: 2px dashed orange
}
.availability {
    text-align: left;
    border: 2px dashed orange
}
    .metier ul {
      text-align: left; /* Alinea el texto a la izquierda en el subcontenedor metier */
      margin: 0; /* Opcional: Ajusta los márgenes si es necesario */
      padding: 0 1em; /* Opcional: Ajusta el espacio interno */
    }

    .availability ul {
      text-align: right; /* Alinea el texto a la derecha en el subcontenedor availability */
      margin: 0; /* Opcional: Ajusta los márgenes si es necesario */
      padding: 0; /* Opcional: Ajusta el espacio interno */
    }

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
  border: 0.5px dotted
}

/*section {
  display: flex;
  flex-direction: column;
}*/

